nav {
    width: 100%;
    height: 7rem;
    background-color: #010C3F;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 100vh;
    background-image: url(./asset/background_photo_desktop.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}