@import url('https://api.fontshare.com/v2/css?f[]=general-sans@500,300,400,700&display=swap" rel="stylesheet');

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%; 
}

body {
  font-family: 'General Sans', sans-serif;
  font-size: 2rem;
}